<!DOCTYPE html>
<html>
<head>
    <title>ebin memes</title>
    <meta http-equiv="Cache-control" content="public">
    <link rel="shortcut icon" href="/static/favicon.png" /> 
    <script
			  src="/static/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
        }
    </script>

    <style>
        .focused-post {
            background: #e1d9d9 !important;
        }


        #dropdown-holder {
            text-align: end;
        }

        #dropdown-holder:not(:hover) table {
            visibility: hidden;
            display: none;
        }
    </style>
</head>
<body style="background: #e8e4e4">
    <div id="navi" style="position: fixed; width: 100%; top: 0; border-bottom: 1px solid black; width: 100%; background-color: white; z-index: 1">
        [&nbsp;
        <a href="/">Index</a>&nbsp;|
        <a href="/{{ source }}{{ board_name }}pictures/{{ type }}">Pictures</a>
        <a href="/{{ source }}{{ board_name }}videos/{{ type }}">Videos</a>
        <a href="/{{ source }}{{ board_name }}audios/{{ type }}">Audios</a>
        <a href="/{{ view }}{{ source }}{{ board_name }}randoms">Randoms</a>

        |
        <a href="/posts/{{ source }}{{ board_name }}">Posts</a>
        &nbsp;]

        [&nbsp;
        <a href="/stats">Stats</a>
        <a href="/most_posted/">Most posted</a>
        &nbsp;]


        {% if boards %}
        <a href="/{{ source }}/" style="color: black">>>/{{ source }}{{ board_name }}</a>


        {% for src_board in boards %}
            <a href="/{% if view %}{{ view }}{% endif %}{{ source }}{{ src_board }}/">/{{ src_board }}/</a>
            {% if not forloop.last %} | {% endif %}
        {% endfor %}

        {% endif %}

        <div id="dropdown-holder" style="position: fixed; right: 0; top: 0; float: right; margin-right: 15px;">
            Monitors
            <table style="background: white; min-heigth: 10px">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for monitor in monitors %}
                <tr>
                    <td> {{ monitor.get_pph }}</td>

                    <td>
                        <a href="/{{ view }}{{ monitor.name|lower }}/" style="color: black">{{ monitor.name }}</a>
                    </td>
                    <td>
                        <a href="/monitors/{{monitor.name}}/toggle/">{{ monitor.get_status_string }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <br>
    </div>

    {% autoescape off %}

    {% block content %}
    {% endblock content %}

    {% endautoescape %}


    <div id="player" style="display: none; width: 100%; margin: auto; position: fixed; top: 40%; left: 50%; bottom: 0;
        right: 0; transform: translate(-50%, -50%); text-align: center; max-height: 85vh; max-width: 85vw">
    </div>

    <script type="text/javascript">

        function view_file(file_id) {
            $.ajax({
                "url": "/" + file_id + "/player/",
                "type": "GET",
                success: function (res) {
                    $("#player").html(res).show();
		    $("img[data-id='" + file_id + "'").css("filter", "brightness(170%) grayscale(0.2) drop-shadow(2px 2px #482020e3)").css("border", "1px solid black");
		}
            });
            return false;
        }

        $(document).ready(function() {
            $("#player").on("click", function() {
                $(this).hide();
            });

             $(document).click(function() {
                $("#player").html("").hide();
            });
        });

    </script>
</body>


</html>
