{% extends "base.html" %}

{% block content %}
<div style="margin: auto; text-align: center">

    {% include "player.html" %}

    <h3 style="margin-bottom: 3px">Posts ({{post_files|length}})</h3>
    {% for file_post in post_files %}
        {% if file_post.post %}
        <hr>
        <a href="{{ file_post.post.thread.get_orig_uri }}#{{file_post.post.no}}" target="_blank">{{ file_post.post.thread.get_orig_uri }}</a>
        <a href="/posts/{{ file_post.post.thread.source }}/{{ file_post.post.thread.board }}/{{ file_post.post.thread.no }}">Show thread</a>
        {% if file_post.post.country %} [{{file_post.post.country}}] {% endif %}
        <a href="{{ file_post.orig_url }}" target="_blank">{{ file_post.file_name }}</a>
        <br>
        {{ file_post.post.added_at }}
        <br>
        {{ file_post.post.message }}
         <br>
        {% endif %}
    {% endfor %}
    <hr>

    {% if show_similar  %}
        <h3 style="margin-bottom: 3px">Similar files</h3>
        {% for sim_file in similar_files %}
            <span>({{ sim_file.get_post_count }})</span>
            <a href="/{{sim_file.id}}/">
                <img src="{{ sim_file.get_thumb_uri }}">
            </a>
            <hr>
        {% endfor %}
    {% else %}
        <a href="/{{ file.id }}/show_similar">Show posts with similar files</a>
    {% endif %}

</div>

{% endblock %}