{% extends "base.html" %}

{% block content %}

<div id="files" style="position: fixed; text-align: center; overflow: auto; height: calc(100% - 30px); padding-top: 20px">
    {% for file in files %}
    <div id="file" style="display: inline-flex; align-items: center; flex-direction: column">
        <input type="Button" onclick="view_file({{file.id}}); return false" value="Show" style="display: block">
        <a href="/{{ file.id }}/" style="position: relative; color: white; margin-top: 2px">
            <img class="thumb" style="{% if not file.content_downloaded %} filter: opacity(65%) {% endif %}"
                 data-id="{{ file.id }}"
                 src="{{ file.get_thumb_uri }}">
            <small style="position: absolute; bottom: 4px; margin-bot: 2px; right: 0; background: #717070; font-size: 11px; line-height: 10px;">
                {{ file.post_count }}
            </small>
        </a>
        &nbsp;&nbsp;
    </div>
    {% endfor %}
</div>


{% endblock %}
