{% if not file.content_downloaded and not file.get_orig_uri %}
    <span>Only thumb is available</span> <br>
    <img src="{{ file.get_thumb_uri }}">
{% else %}

    {% if file.type == "PICTURE" %}
    <a href="{{ file.get_uri }}" target="_blank">
        <img src="{{ file.get_uri }}" style="max-height: 85vh; max-width: 95vh">
    </a>
    {% endif %}


    {% if file.type == "VIDEO" %}
    <video id="video-{{ file.id }}" loop controls style="max-width: 85vw; max-height: 85vh">
        <source src="{{ file.get_uri }}" type="{{ file.mime }}"></src>
    </video>
    {% endif %}

    {% if file.type == "AUDIO" %}
    <audio controls>
        <source src="{{ file.get_uri }}" type="{{ file.mime }}">
        </src>
    </audio>
    {% endif %}

    {% if file.type == "VIDEO" %}
    	<script type="text/javascript">
		document.getElementById("video-{{ file.id }}").volume = 0.20;
	</script>
    {% endif %}

{% endif %}
