{% extends "base.html" %}


{% block content %}

{% if thread %}
<a href="{{ thread.get_orig_uri }}" target="_blank">{{ thread.get_orig_uri }}</a>
{% if not thread.is_locked %}
Thread open
{% else %}
Thread closed
{% endif %}
<br>
{% endif %}


<div id="files" style="width: 100%; text-align: center">
    {% for file in files %}
    <div class="file-holder" style="display: inline-flex; align-items: center; flex-direction: column">
        <input type="Button" onclick="view_file({{file.id}})" value="Show" style="display: block">
        <a href="/{{ file.id }}/" style="margin-top: 2px">
            <img class="thumb" data-id="{{ file.id }}" src="{{ file.get_thumb_uri }}">
        </a>
        {% if thread %}
        {% ifchanged post_file.post.id %}
            </div>
            <div id="file-{{ post.id }}" style="display: flex; align-items: center; flex-direction: column">
        {% endifchanged %}
        {% endif %}
        &nbsp;&nbsp;
    </div>
    {% endfor %}
</div>



{% endblock %}