{% extends "base.html" %}



{% block content %}

    <br>

    <div style="float: right; position: sticky; top: 30px; font-size: small;">

        <p>
            {% if thread %}
                {% if thread.subject %}<small style="float: right">{{ thread.subject }}</small><br>{% endif %}
                    <a href="{{ thread.get_orig_uri}}" target="_blank" rel="noreferrer">{{ thread.get_orig_uri }}</a>
                {% elif monitor %}
                    Latest added posts from <a href="{{monitor.url}}{{board_name}}" target="_blank" rel="noreferrer">/{{ monitor.name }}/{{ board_name }}</a>
            {% endif %}
	    <br>{{ thread_last_fetch_ago }}
        </p>

        <br><br>

        <form>
            {% if not thread %}
                <small style="vertical-align: super">OP only</small><input id="op_only" type="checkbox" value="1" name="op_only">
            {% endif %}
            <input type="text" name="q" id="q" placeholder="Search" autofocus value="{{q|escape}}">
        </form>
        <br>
        <form style="float: right">
            <br>
            <div style=" text-align: end; padding-right: 6px">
                <small style="vertical-align: super">Live</small>
                <input id="live_update" type="checkbox" value="1">
            </div>
            <div style="display: inline-flex;" title="Alerting type">
                <div style="padding: 3px; display: flex; flex-direction: column">
                    <input class="alert-type" name="alert-type" type="radio" style="margin: 0"  checked value="off" disabled>
                    <small>Off</small>
                </div>
                <div style="padding: 3px; display: flex; flex-direction: column">
                    <input class="alert-type" name="alert-type" type="radio"  style="margin: 0"  value="tts" disabled>
                    <small>TTS</small>
                </div>
                <div style="padding: 3px; display: flex; flex-direction: column">
                    <input class="alert-type" name="alert-type" type="radio" style="margin: 0"  value="notifications" disabled>
                    <small>Notis</small>
                </div>
            </div>
            <br>


        </form>
    </div>

    <br><br>

    <div id="posts-holder">
        {% for post in posts %}
            {% block post %}
                {% include "post.html" %}
            {% endblock %}
        {% endfor %}
    </div>

<script>

    const re = /https\:\/\/(?:www\.)?youtu(?:.*\/v\/|.*v\=|\.be\/)([A-Za-z0-9_\-]{11})(?:[A-Za-z0-9_\-&=\.\?]+)?/gm;
    function youtubeEmbedder(doc) {
        if (!doc) return;
        const msg = doc.innerText;
        if (!msg || (!msg.includes("youtube.com") && !msg.includes("youtu.be"))) return;

        const newMsg = msg.replace(re, `<a class='youtube' data-id='$1' href='$&' rel='noreferrer' target='_tab'>$&</a>`);
        doc.innerHTML = newMsg.trim();
    }


    let notificationQueue = [];
    let ttsQueue = [];

    $(document).ready(() => {
        console.log("valmista");

        const socket = new WebSocket(`wss://${window.location.hostname}/socket/`);

        socket.addEventListener('open', function (event) {
            console.log("conn open");
            socket.send(window.location.pathname);
        });

        socket.addEventListener('close', function (event) {
            $("#live_update").attr("disabled", "disabled");
            $(".alert-type").attr("disabled", "disabled");
        });

        $("#live_update").on("change", () => {
           if ($("#live_update:checked").length) $(".alert-type").removeAttr("disabled");
           else $(".alert-type").attr("disabled", "disabled");
        });

        function getAlertType() {
            return $(".alert-type:checked").val();
        }

        $(".alert-type").on("change", () => {
            if (getAlertType() !== "notifications") return;
            if (!("Notification" in window)) {
                //$("#live_notifications").hide().removeAttr("checked");
                $(".alert-type[value='off']").prop("checked", true)
                console.log("Notifications not supported");
                return;
             }
             if (Notification.permission !== "denied") {
                Notification.requestPermission().then((permission) => {
                    if (permission !== "granted") {
                        $(".alert-type[value='off']").prop("checked", true)
                    }
                });
             }
        });

        let unreadCount = 0;
        const originalTitle = document.title;

        const postsHolder = document.getElementById("posts-holder")
        const parser = new DOMParser();

        let focusedPost = null;

        function setTitle() {
            let newTitle = '';
            if (unreadCount) newTitle += `(${unreadCount}) `;
            newTitle += originalTitle;
            document.title = newTitle;
        }

        socket.addEventListener('message', function (event) {

            if (!$("#live_update:checked").length) return

            const searchString = $("#q").val();
            if (searchString && searchString.trim().length && !event.message.includes(searchString)) return

            const template = document.createElement('template');
            template.innerHTML = event.data.trim();

            const postDocument = template.content.childNodes[0];

            const isOP = !!postDocument.getElementsByClassName("op");

            if ($("#op_only:checked").length && !isOP) return;

            youtubeEmbedder(postDocument.querySelector(".message"));
            postsHolder.prepend(postDocument);

            const post = $(".post:first");

            if ($(".focused-post").length) {
                $(".focused-post").get(0).scrollIntoView({
                    behavior: 'auto',
                    block: 'center',
                    inline: 'center',
                });
            }

            const postHasMessage = post.find(".message").length

            if (getAlertType() == 'tts' && postHasMessage) ttsQueue.push(post);

            if (document.hasFocus()) return;


            if (!unreadCount) {
                focusedPost = $(".post:first")
                    //.insertBefore(`<hr style="width:50%;text-align:left;margin-left:0">`)
                    .get(0);
            }

            //focusedPost.scrollIntoView();

            unreadCount++;
            //document.title = `(${unreadCount}) ${originalTitle}`;
            setTitle();

            if (getAlertType() !== 'notifications' || !postHasMessage) return;

            notificationQueue.push(post);
        });

        let ttsRunning = false;

        const voices = window.speechSynthesis.getVoices();
        const defaultVoice = voices.find((it) => it.default)
            || voices[0];

        const synth = window.speechSynthesis;

        setInterval(() => {

            if (!ttsQueue.length || ttsRunning || getAlertType() !== "tts") {
                return;
            }

            const post = ttsQueue[0];
            let message = post.find(".message").get(0).innerText;

            if (!message) return;
            message = message.trim();

            message = message.replace(/>>\d+(.{3})/gm, ">>$1");
            //message = message.replace(/(^>.+)/gm, "\"$1\"");
            message = message.replace(/(\n)/gm, "$1\n");
            message = message.replace(/^>(.+)/gm, "\"$1\"");


            let languageCode = post.find(".country").text().toLowerCase();
            if (languageCode === 'mow') languageCode = 'ru';
            if (languageCode === 'ua') languageCode = 'ru';
            if (languageCode === 'by') languageCode = 'ru';


            if (languageCode === 'us') languageCode = 'en-US';
            if (languageCode === 'tx') languageCode = 'en-US';
            if (languageCode === 'hm') languageCode = 'en-US';
            if (languageCode === 'gb') languageCode = 'en-BG';
            if (languageCode === 'au') languageCode = 'en-AU';
            if (languageCode === 'nz') languageCode = 'en-NZ';
            if (languageCode === 'jm') languageCode = 'en-029';

            if (languageCode === 'fr') languageCode = 'fr-FR';
            if (languageCode === 'qc') languageCode = 'fr-FR';
            if (languageCode === 'ch') languageCode = 'fr-CH';
            if (languageCode === 'be') languageCode = 'fr-BE';

            if (languageCode === 'by') languageCode = 'de';
            if (languageCode === 'ee') languageCode = 'et';
            if (languageCode === 'jp') languageCode = 'ja';
            if (languageCode === 'in') languageCode = 'hi';
            if (languageCode === 'se') languageCode = 'sv';
            //if (languageCode === 'no') languageCode = 'nw';
            if (languageCode === 'ca') languageCode = 'en-ca';
            if (languageCode === 'kz') languageCode = 'kk';
            if (languageCode === 'cn') languageCode = 'yue';
            if (languageCode === 'ga') languageCode = 'ka';
            if (languageCode === 'ir') languageCode = 'ga';
            if (languageCode === 'my') languageCode = 'ms';
            if (languageCode === 'gr') languageCode = 'el';
            if (languageCode === 'cz') languageCode = 'cs';
            if (languageCode === 'il') languageCode = 'he';
            if (languageCode === 'si') languageCode = 'sl';


            if (languageCode === 'mx') languageCode = 'es-419';
            if (languageCode === 'pe') languageCode = 'es-419';
            if (languageCode === 'hn') languageCode = 'es-419';
            if (languageCode === 'co') languageCode = 'es-419';
            if (languageCode === 've') languageCode = 'es-419';
            if (languageCode === 'ar') languageCode = 'es-419';
            if (languageCode === 'cl') languageCode = 'es-419';
            if (languageCode === 'ec') languageCode = 'es-419';
            if (languageCode === 'py') languageCode = 'es-419';

            // br and south br
            if (languageCode === 'br') languageCode = 'pt-BR';
            if (languageCode === 'pr') languageCode = 'pt-BR';
            if (languageCode === 'rs') languageCode = 'pt-BR';
            if (languageCode === 'sc') languageCode = 'pt-BR';



            let voice = window.speechSynthesis.getVoices().find((it) => it.lang == languageCode);
            if (!voice && languageCode.includes("-")) {
                languageCode = languageCode.split("-")[0];
                voice = window.speechSynthesis.getVoices().find((it) => it.lang.includes(languageCode));
            }
            if (!voice) voice = defaultVoice;

            console.log(voice);

            const utterThis = new SpeechSynthesisUtterance(message);
            utterThis.rate = 0.8;
            utterThis.pitch = 0.7;

            if (voice) utterThis.voice = voice;

            synth.speak(utterThis);
            ttsRunning = true;

            $(".focused-post").removeClass("focused-post");
            post.addClass("focused-post").get(0).scrollIntoView({
                behavior: 'auto',
                block: 'center',
                inline: 'center',
            });

            utterThis.onend = (() => {
                setTimeout(() => {
                    ttsRunning = false;
                    console.log("stopped");
                    post.removeClass("focused-post");
                    unreadCount = notificationQueue.length
                    setTitle();
                }, 500);
            });

            ttsQueue.shift();
        }, 500);


        notifying = false;
        setInterval(() => {
            if (!notificationQueue.length || notifying) {
                return;
            }
            const post = notificationQueue[0]
            if (!post) return;
            const message = post.find(".message").get(0).innerText;
            if (!message) return;

            post.get(0).scrollIntoView({
                behavior: 'auto',
                block: 'center',
                inline: 'center'
            });

            $(".focused-post").removeClass("focused-post");

            notifying = true;

            const title = post.find(".subject").text().trim() || '';
            const thumbUrl = post.find("img").attr("src") || null;

            const duration = Math.max(Math.min(message.length * 150, 8000), 3500);
            const notify = new Notification(message, {
                requireInteraction: true,
                body: message,
                img: thumbUrl,
            });

            setTimeout(() => {
                notify.close();
                notificationQueue.shift();

                if (unreadCount) unreadCount--;
                setTitle();

                setTimeout(() => notifying = false, 5000);
            }, duration);
        }, 500);

        document.addEventListener('focus',() => {
            document.title = originalTitle;
            unreadCount = 0;
            notificationQueue = [];
            //ttsQueue = [];
        }, true);

        $(document).on("mouseenter", ".reply", (e) => {
            console.log("wee");
            const target = $(e.target);
            const post = $("#" + target.attr("href").substring(1)).get(0);
            if (!post) {
            target.css({'cursor': 'not-allowed'});
                return;
            }
            //post = $(".post:first").get(0);

            viewer = post.cloneNode(true);

            target.one("mouseleave", () => {
                console.log("left");
                viewer.remove();
            });

            viewer.classList.add("post-viewer");

            const pos = target.get(0).getBoundingClientRect();

            const top = pos.y;
            const left = pos.x;

            viewer.style.maxWidth = $(window).width() - pos.left - 30;
            viewer.style.maxHeight = '100vh'
            viewer.style.position = 'fixed';
            viewer.style.top = `${top}px`;
            viewer.style.left = `${pos.left + target.width()}px`;
            viewer.style.zIndex = 5;

            const windowHeight = window.innerHeight;
            const postHeight = post.offsetHeight;

            document.body.appendChild(viewer);

            if (top + postHeight > windowHeight) {
                const overBy = top + postHeight - windowHeight;
                console.log("over by " + overBy );
                viewer.style.top = `${top - overBy - 1}px`;
            }

        });

        $(".message").each(function embedLinker() {
            //if (!window.localStorage.getItem("youtube")) return;
            youtubeEmbedder($(this).get(0));
        });

        const embedder = document.createElement("div");
        $("body").on("click", ".youtube", function viewEmbed(event) {
            event.preventDefault();

            const height = 315;
            const width = 560;

            const id = $(this).data("id");

            embedder.style.position = "fixed";
            embedder.style.height =  `${height}px`;
            embedder.style.maxHeight = '100vh'
            embedder.style.top = `${window.innerHeight - 450 - 10}px`;
            embedder.style.width = `${width}px`;
            embedder.style.right = "15px";

            embedder.innerHTML = `<iframe width='${width}' height='${height}'
                                        src='https://www.youtube.com/embed/${id}'
                                        frameborder='0'
                                        allow='accelerometer;
                                        autoplay;
                                        clipboard-write;
                                        encrypted-media;
                                        gyroscope;
                                        picture-in-picture'
                                        allowfullscreen
                                        >
                                </iframe>`;

            document.body.appendChild(embedder);

            return false;
        });

        $(document).on("keydown", function down(event) {
            if (event.keyCode !== 27) return;
            embedder.innerHTML = '';
        });

    });
</script>
{% endblock %}
