{% autoescape off %}


<div id="{{ post.thread.source }}_{{ post.thread.board }}_{{ post.no }}"
     class="posts-holder">
    <div class="post-wrapper" style="display: flex; max-width: 85vw; padding: 5px 0 5px 25px;">
        &gt;&gt;
        <div class="post" style="display: flex; flex-direction: column; border: 1px solid black; background-color: #fdf4f4; margin-left: 25px; padding: 25px;">

            <header class="header" style="font-size: smaller">

                {% if post.op %}<b class="op">OP</b>{% endif %}
                {{ post.added_at}}
                {% if post.country %} <span class="country">{{ post.country|upper|cut:"-" }}</span> {% endif %}

                No. <a href="{{ post.thread.get_orig_uri }}#{{ post.no}}"
                       style="color: black; text-decoration: none"
                       target="_blank"
                       rel="noreferrer">
                    {{ post.no }}
                </a>

                {% if not thread %}
                <small class="subject" style="float: right; margin-left: 15px; {% if post.thread.is_locked %} text-decoration: line-through; {% endif %}">
                    Thread {% if post.thread.subject %} {{ post.thread.subject|slice:":64" }} {% else %} {{ post.thread.no }} {% endif %}
		</small>
                {% endif %}

            </header>

            <div class="post-content" style="display: flex; margin-top: 10px">
                <div class="attachments"
                     style="display: inline-flex;
                        align-items: center;
                        align-self: flex-start;
                        max-width: 500px;
                        flex-wrap: wrap"
                >
                    {% for post_file in post.post_files.all %}
                    <div class="file-holder"
                         style="display: inline-flex;
                                  flex-direction: column;
                                  align-items: flex-start;
                                  align-self: flex-end;
                                  margin-right: 5px;
                    ">
                        <a
                                title="{{ post_file.file_name }}"
                                class="attach-holder"
                                style="position: relative; color: white;"
                                href="/{{ post_file.file.id }}/"
                                target="_blank">
                            <img src="{{ post_file.file.get_thumb_uri }}"
                                 style="color: white;
                                  {% if not post_file.file.content_downloaded %} filter: opacity(65%) {% endif %}"
                                 onclick="return view_file({{ post_file.file.id }})">
                            <small
                                    style="position: absolute;
                                             bottom: 4px;
                                             margin-bottom: 2px;
                                             right: 0;
                                             background: #717070;
                                             font-size: 11px;
                                             line-height: 10px;">
                                {{ post_file.file.post_count }}
                            </small>
                        </a>

                        <span>
                            <small title="{{ post_file.file_name }}">
                                {{ post_file.file_name|slice:":22" }}
                            </small>
                            <a style="font-size: small" title="Post count" href="/{{ post_file.file_id }}"></a>
                        </span>

                    </div>
                    {% endfor %}
                </div>
                {% if post.message %}
                <div class="message" style="margin-left: 15px; overflow-wrap: anywhere; max-height: 500px; overflow-y: auto; margin-top: 3px; white-space: pre-line">
                    {{ post.message }}
                </div>
                        {% endif %}
            </div>

            {% if not thread %}
            <footer style="font-size: small; align-self: end">
		    {% if post.op %} <a href="{{ post.thread.get_orig_uri }}">{{ post.thread.get_orig_uri }}</a> {% endif %}
                {% if not thread %}<a href="/posts/{{post.thread.source}}/{{post.thread.board}}/{{post.thread.no}}">View thread</a> {% endif %}
            </footer>
            {% endif %}

        </div>
    </div>
</div>
{% endautoescape %}
