{% extends "base.html" %}


{% block content %}

<center style="margin-top: 10vh">
    Active files: <b>{{ active_files_count }}</b> ({{ files_active_size }} MB). <br>
    Active threads: <b>{{ active_threads_count }}</b>. <br> <br>

    Total handled files: <b>{{ total_files_count }}</b> ({{ files_total_size }} MB).<br>
    Total handled threads: <b>{{ total_threads_count }}</b>.<br>
    Total handled posts: <b>{{ total_posts_count }}</b>.<br><br>

    New files added last 24h: <b>{{ fresh_files_added_last_24h }}</b> ({{ files_last_24h_size }} MB)

</center>

{% endblock %}