{% extends "base.html" %}


{% block content %}
    {% for thread in threads %}
        <div class="thread"
             style="display: inline-flex; flex-direction: column; border: 1px solid black;
             padding: 2px; margin: 5px;
             max-width: 350px;
             align-items: center; justify-content: center;
           ">
            <a class="subject" href="{{ thread.get_orig_uri }}" target="_blank">
                {{ thread.subject|slice:":64" }}
            </a>
              {{ thread.get_op_post_file }} asd

            <div class="op-attachment">
                <img src="{{ thread.get_op_post.post_file.file.get_uri }}">
            </div>
            <div class="op-message">
                {{ thread.get_op_post.message|escape }}
            </div>
            <div class="source">
                {{ thread.source }}/{{ thread.board }}/
            </div>
        </div>
    {% endfor %}

{% endblock %}

